@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');

:root{
    --main-bg-color: #2E4C6D;
    --main-bg-color2: #DADDFC;
    --font1: 'Merriweather', serif;
    --font2: 'Montserrat', sans-serif;
}

.text-center{
    text-align: center;
}

.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color: white;
    background: var(--main-bg-color);
}